<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= home %></p>
<% datas.forEach(function(data){ %>

<h1><%= data.title %></h1>
<p><%= data.content.substring(0,100)+"..." %> <a href="/posts/:<%=data.title%>">Read more</a></p>
<% }); %>

<%- include("partials/footer") -%>
